// variables

$footer-height: 50px;
$dropdown-width: 193px;
$dropdown-height: 134px;
//mixins

//placeholders

%defaultTransition {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;

  //Разобраться, почему ie тупит, скорее всего придется менять all
}




// layout

@import "layout/normalize";
@import "layout/adjustement";
@import "layout/fonts.css";
@import "font-awesome/font-awesome";


// sections

@import "sections/common";
@import "sections/header";
@import "sections/sidebar";
@import "sections/footer";
@import "sections/hello";
@import "sections/about";
@import "sections/career";
@import "sections/portfolio";


// media

@import "media/desktop";
@import "media/laptop";
@import "media/tablets";
@import "media/phones";


//Animations

@import "animations/animations";

