.footer {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #414141;
    margin-top: -50px;
}

.footer__left, .footer__right {
    float: left;
    width: 50%;
}

.footer__left {
    padding-top: 18px;
}

.footer__right {
    padding-top: 10px;
    text-align: right;
}

.copyright {
    color: #c9c9c9;
    font-size: 14px;
    font-weight: 300;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
}

.socials__link {
    display: block;
    width: 32px;
    height: 32px;
    background: no-repeat center center;
}


/*SPRITES*/

.sprite {
    background: url('../../img/icons/spritesheet.png') no-repeat;
    display: block;
}

.sprite-FaceBook {
    width: 31px;
    height: 30px;
    background-position: -5px -5px;

}
.sprite-FaceBook:hover {
    background-position: -46px -5px;
}

.sprite-Twitter {
    width: 31px;
    height: 30px;
    background-position: -87px -5px;

}.sprite-Twitter:hover {
    background-position: -128px -5px;
}

.sprite-vk {
    width: 32px;
    height: 30px;
    background-position: -169px -5px;

}
.sprite-vk:hover {
    background-position: -211px -5px;
}