@media screen and (max-width: 992px) {

  .container {
    width: 730px;
  }


  // Header

  .header {
    padding-bottom: 0;
    margin-bottom: 17px;
  }
  .header__left {
    padding-top: 6px;
  }


  // Sidebar

  .sidebar, .page {
    float: none;
    width: 100%;
  }

  .nav__list{
    text-align: left;
  }

  .nav__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
  }

  .nav__link {
    border-right: none;
    padding-right: 0;

  }

  // About

  .about {
    margin-top: 25px;
    margin-bottom: 57px;
  }

  .about__left {
    width: 30%;
  }

  .about__right {
    width: 60%;
    margin-left: 4%;
  }

  .about__img {
    width: 165px;
    height: 165px;
  }

  .about__text {
    height: 367px;
  }
  .download-btn {
    margin-right: 23px;
  }


  //Career

  .career {
    padding-left: 0;
    margin-top: 23px;
  }

  .career__img-box {
    width: 228px;
    height: 228px;
  }

  .career__img {
    height: 262px;
    right: 88px;
  }

  .career__right {
    float: right;
  }

  .career__list-item {
    padding-left: 103px;
  }

  .item-box {
    width: auto;
  }
}