@media screen and (max-width: 768px) {
  .container {
    width: 480px;
    //background: #CCF;
  }

  .header {
    margin-bottom: 15px;
  }

  .header__left, .header__right {
    display: inline-block;
    vertical-align: middle;
    padding-top: 12px;
  }

  .contacts {
    font-size: 0;
  }

  .contacts__icon {
    display: block;
    font-size: 40px;
    margin-top: 9px;
    margin-right: 1px;
  }

  .about {
    margin-bottom: 90px;
  }

  .about__left, .about__right, .footer__left, .footer__right {
    float: none;
  }
  .about__left {
    width: 100%;
  }
  .about__right {
    width: 90%;
  }
  .about__left {
    height: auto;
    padding-left: 0;
  }
  .title {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 5px;
  }
  .about__description {
    margin-bottom: 32px;
  }
  .about__btn {
    text-align: center;
  }
  .btn {
    display: inline-block;
  }
  .download-btn {
    margin-right: 0;
  }
  .footer__right, .footer__left {
    text-align: center;
    width: 98%;
  }
  .footer__right {
    padding-top: 8px;
  }

}