@media screen and (max-width: 768px) {
  .container {
    width: 480px;
  }

  .title {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 5px;
  }


  // Header

  .header {
    margin-bottom: 15px;
  }

  .header__left, .header__right {
    display: inline-block;
    vertical-align: middle;
    padding-top: 12px;
  }

  .contacts {
    font-size: 0;
  }

  .contacts__icon {
    display: block;
    font-size: 40px;
    margin-top: 9px;
    margin-right: 1px;
  }


  //Footer

  .footer__right, .footer__left {
    float: none;
    text-align: center;
    width: 98%;
  }
  .footer__right {
    padding-top: 8px;
    padding-bottom: 20px;
  }


  //About

  .about {
    margin-bottom: 90px;
  }

  .about__left, .about__right {
    float: none;
  }

  .about__left {
    width: 100%;
    height: auto;
    padding-left: 0;
  }

  .about__right {
    width: 90%;
  }

  .about__description {
    margin-bottom: 32px;
  }

  .about__btn {
    text-align: center;
  }

  .btn {
    display: inline-block;
  }

  .download-btn {
    margin-right: 0;
  }


  //Career

  .career {
    text-align: center;
    margin-top: 25px;
    margin-right: 5px;
    margin-bottom: 9px;
  }

  .career__left, .career__right {
    float: none;
  }
  
  .career__left {
    width: auto;
  }

  .career__right {
    width: 90%;
    margin: 21px auto 0;
  }

  .career__img-box {
    margin: 10px auto;
  }

  .career__list-item {
    padding-left: 0;
  }
  .item-box__occupation, .item-box__period {
    margin-bottom: 0;
  }
  .item-box::before, .item-box::after, .item-box__year {
    display: none;
  }
}